This is how your env will look like

!!! ------------------------- !!!
PORT=7000
MONGODB_URL=your-mongo-cluster-url


ACCESS_TOKEN =fLhXcjbfdbibdadWyU
REFRESH_TOKEN = NwQbadaonaodnoz6E
ACCESS_TOKEN_EXPIRY = 5m
REFRESH_TOKEN_EXPIRY = 7d
